/* BEGIN CODE HERE */
#navbar {
    position: relative;
    width: 100%;
    height: 150px;
}

#image_link {
    position: absolute;
    left: 30px;
}

#navbarSupportedContent {
    position: absolute;
    right: 100px;
    font-size: 20px;
}

#navbarSupportedContent > ul > li {
    margin: 20px;
}

#logo {
    width: 250px;
    height: 58px;
}

#footer {
    width: 100%;
    height: 100px;
    position: relative; 
    bottom: 0px;
    right: 0px;
    left: 0px;

}

#footer > .container2 { 
    
    width: 100%;
    height: 100px;
    margin: 20px;
    padding: 0%;
    
}

#footerCol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}


/* Jim's code */
#Frame1{
    display: flex;
    width: 1200px;
    height:400px;
}


#Frame1sub1{
    flex:1;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 50%;
}

#Frame1sub2{
    flex:1;
}

#image1{
    flex:1;
    height: 100%;
    width: 100%;
}



#Frame2{
    display: flex;
    width: 1200px;
    height:400px;
}

/* 1st box of frame 2*/
#Frame2sub1{
    flex:1;   

}

/* 2nd box of frame 2 */
#Frame2sub2{
    flex:1;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 50%;
}

/* 3rd box of frame 2, with 2 images */
#Frame2sub3{
    flex:1;
}

#image2{
    height: 50%;
    width: auto;
}

#image3{
    height: 50%;
    width: auto;
}

/* 4th box of frame 2, with 2 sub-boxes */
#Frame2sub4{
    display: flex;
    flex-direction: column;
    flex:1
}

#paragraph1{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;


}

#paragraph2{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#Frame3{
    width: 1200px;
    height: 600px;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1 1 auto;
}



/* END CODE HERE */